{{- $resource := false -}}
{{- $url := urls.Parse .src -}}
{{- if not (or $url.IsAbs (strings.HasPrefix .src "//")) -}}
  {{- $resourcePath := strings.TrimPrefix "/" (path.Clean $url.Path) -}}
  {{- with .page -}}
    {{- with .Resources.GetMatch $resourcePath -}}
      {{- $resource = . -}}
    {{- else -}}
      {{- with $.page.Resources.GetMatch (path.Base $resourcePath) -}}
        {{- $resource = . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- if not $resource -}}
    {{- with resources.Get $resourcePath -}}
      {{- $resource = . -}}
    {{- end -}}
  {{- end -}}
  {{- if not $resource -}}
    {{- with site.GetPage (path.Dir $resourcePath) -}}
      {{- with .Resources.GetMatch (path.Base $resourcePath) -}}
        {{- $resource = . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- if not $resource -}}
    {{- $staticPath := printf "static/%s" $resourcePath -}}
    {{- if fileExists $staticPath -}}
      {{- $resource = resources.FromString $resourcePath (readFile $staticPath) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $resource -}}
