{{- $image := partial "image-resource.html" (dict "page" .page "src" .imgUrl) -}}
{{- $class := "profile-img" -}}
{{- if not .imgSquare }}{{ $class = printf "%s circle" $class }}{{ end -}}
<div class="flex-3-row column person-card">
    {{- partial "responsive-image.html" (dict
        "resource" $image
        "src" .imgUrl
        "alt" (printf "Picture of %s" .name)
        "class" $class
        "sizes" "(max-width: 700px) 100vw, 320px"
    ) }}

    <h3>{{ .name }}</h3>
    <span class="job-title">{{ .jobTitle }}</span>
    <em class="affiliation">{{ .affiliation }}</em>
    
    {{ if .description }}
    <sl-details summary="Read more about {{ .name }}">
        <p class="description">{{ .description }}</p>
    </sl-details>
    {{ end }}
</div>
